{% extends 'base.html' %}
{% block content %}
<a class="text-blue-500" href="{% url 'listing_create' %}">Add a listing</a>
{% for listing in listings %}
    <div class="px-3 py-2 bg-gray-100 rounded-sm">
        <h3 class="text-3xl text-gray-900 " >{{listing.title}}</h3>
        <p class="text-gray-900" >{{listing.price}}</p>
        <p class="text-gray-600 text-sm" >{{listing.address}}</p>

        {% if request.user.is_staff %}
        <div class="mt-5 py-5 border-t border-gray-200">

            <a class="text-blue-500" href="{% url 'listing_update' listing.id %}">Edit</a>
            <a class=" ml-3 text-blue-500" href="{% url 'listing_delete' listing.id %}">Delete</a>     
        </div>
        {% endif %}
    </div>

{% endfor %}
{% endblock content %}